h2{
    font-size: 2em;
    font-weight: bold;
    color: #612406;
    margin-bottom: 15px;
    }

p{
    color: #612406;
}

.container{
    background-color: #fbf7e3;
    padding: 25px 20px;
}

.img{
    background-image: url(../imgs/honey.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 360px;
    margin-top: 15px;
}