h2{
    font-size: 2em;
    font-weight: bold;
    color: #612406;
    margin-bottom: 15px;
    }

p{
    color: #612406;
}

.container{
    background-color: #fbf7e3;
    padding: 25px 20px;
    border-radius: 30px;
    margin-top: 10px;
}

img{
    padding-top: 30px;
    width: 100%;
}


@media screen and (min-width: 1200px) {
    .container{
        display: flex;
    }

    .text{
        display: flex;
        flex-direction: column;
        order: 1;
        flex-shrink: 5;
    }
    .img{
        display: flex;
    }
    img{
        padding: initial;
        margin-right: 25px;
    }
}